body{
    background-image:url("bg1.png");
    height:auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Boxes*/
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.topbox{
    background-image:url('addtask.png');
    background-size: contain;
    background-repeat:no-repeat;
    height:100px;
    padding-left:80px;
    padding-top:55px; 
    display: flex; 
    align-items: center;
    margin:auto;
    width:50%;
}
  
.todobox {
    background-image:url("todobox.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:300px;
    height:600px;
    padding-top:70px;
}
  
.donebox {
    background-image:url("donebox.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:300px;
    height:600px;
    margin-left: 50px;
    padding-top:70px;
}

/*Reset Hedgehog stuff*/
.shroom-container {
    position: relative;
    display: inline-block;
    margin-left:100px;
  }
  
.shroom-container #reset-button {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20px, -10px);
    z-index: 1;
    font-size: 12px;
    padding: 2px,2px;
}

.shroom {
    height: 100px;
}

#reset-button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    background-color: hsl(30, 29%, 95%);
    color: #be7622;
    border-color: rgb(210, 195, 85);
}


/*List stuff*/
.task-item {
    color: rgb(151, 94, 57);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
}

.task-item:hover {
    background-color: rgb(243, 219, 147);
    color:rgb(82, 51, 5);
    width: 190px; 
    border-radius: 10px;
}

ul li{
    font-size:1.2em
}
